body{
    margin: 0;
    padding: 0;

header{
    display: flex;
    justify-content: center;
   align-self: center;
   align-items: center;
   height: 8vh;
   width: 100%;
 ul{
   padding: 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   align-self: center;
    li{
        display: flex;
        list-style: none;
        a{
            
          text-decoration: none;
            color: green;
        }
       
    }
 }

}
main{
  margin: 5rem;

  width: 80%;

  .card{
    height: 40vh;
    width: 40vw;
    margin: 2rem;
    border: 1px solid black;
 img{
  height: 50px;
  width: 50px;
 }
  }
}
}
footer{
  display: flex;
  justify-content: center;
 align-self: center;
 align-items: center;
 height: 8vh;
 width: 100%;
ul{
 padding: 0;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 align-self: center;
  li{
      display: flex;
      list-style: none;
      a{
          
        text-decoration: none;
          color: green;
      }
     
  }
}
}
  